# Dependencias
node_modules/
.pnpm-store/
# Usamos pnpm; ignoramos lockfiles de npm/yarn por si alguien corre npm por error
package-lock.json
yarn.lock

# Builds / cache
.next/
out/
dist/
build/
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Entorno
.env
.env*.local

# Sistema operativo / editores
.DS_Store
Thumbs.db
*.tsbuildinfo

# UAT
.uat-logs/
