# Copia este archivo como .env
PORT=4003
DATABASE_URL="postgresql://root:root@localhost:5432/scipos?schema=clientes"
REDIS_URL="redis://:root@localhost:6379"
SEGURIDAD_URL=http://localhost:4001
COTIZACIONES_URL=http://localhost:4004
VENTAS_CAJA_URL=http://localhost:4005
