# Copia este archivo como .env y ajusta si tu infraestructura local difiere.
PORT=4001
DATABASE_URL="postgresql://root:root@localhost:5432/scipos?schema=seguridad"
REDIS_URL="redis://:root@localhost:6379"
